@import "./fonts.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* custom css */
/* typography */
h1 {
  @apply text-5xl font-bold;
}

h2 {
  @apply text-4xl font-bold;
}

h3 {
  @apply text-3xl font-bold;
}

h4 {
  @apply text-2xl font-bold;
}

p {
  @apply mb-4 text-base font-light;
}

p:first-of-type {
  @apply font-light;
}

p:last-of-type {
  @apply mb-16;
}

ul {
  @apply mb-8 font-light;
}

ul {
  @apply text-lg font-light list-inside;
}

li {
  @apply text-lg font-light list-disc;
}

/* buttons */
.btn-color {
  @apply p-3 mt-3 mb-8 text-sm font-light text-white transition duration-200 ease-in-out bg-purple-700 rounded;
}

.btn-color:hover {
  @apply bg-purple-800;
}

.btn-mono {
  @apply p-3 mt-3 mb-8 text-sm text-white transition duration-200 ease-in-out bg-gray-700 rounded;
}

.btn-mono:hover {
  @apply bg-gray-800;
}

/* Let it snow */
body {
  /* background-color: #111; */
  @apply text-gray-200;
  overflow: hidden;
  animation: colorchange 40s linear 1s infinite;
}

@keyframes colorchange {
  0% {
    background: #2f2f2f;
    color: @apply text-gray-200;
  }
  33% {
    background: #005e86;
    color: @apply text-gray-200;
  }
  66% {
    background: #02675f;
    color: @apply text-gray-200;
  }
  100% {
    background: #5b6770;
    color: @apply text-gray-200;
  }
}

.dot {
  width: 35px;
  height: 35px;
  position: absolute;
  background: url(/assets/img/snow-sprite.png);
  background-size: 100% 100%;
}
html,
body,
#stage {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 6rem;
}