@import "./fonts.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* custom css */
/* typography */
h1 {
  @apply text-5xl font-bold;
}
h2 {
  @apply text-4xl font-bold;
}
h3 {
  @apply text-3xl font-bold;
}
h4 {
  @apply text-2xl font-bold;
}
p {
  @apply text-lg font-light;
}
p:first-of-type {
  @apply mt-2 font-light;
}
p:last-of-type,
ul {
  @apply my-4 font-light;
}
ul {
  @apply text-lg font-light list-inside;
}
li {
  @apply text-lg font-light list-disc;
}

/* buttons */
.btn-color {
  @apply p-3 mt-3 mb-8 text-sm font-light text-white transition duration-200 ease-in-out bg-purple-700 rounded;
}
.btn-color:hover {
  @apply bg-purple-800;
}
.btn-mono {
  @apply p-3 mt-3 mb-8 text-sm text-white transition duration-200 ease-in-out bg-gray-700 rounded;
}
.btn-mono:hover {
  @apply bg-gray-800;
}

/* scroll */
/* .main-tool-bar {
  height: 80px;
  @apply bg-gray-900;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  transition: ease 0.4s;
} */
/* .main-tool-bar--scrolled {
  height: 40px;
}

.scrollable-area {
  height: 200vh;
} */

/* PINNING */

/* .panel.align-top {
  align-items: flex-start;
}

.gray {
  background-color:  #f1f1f1;/*#2c7ad2;*/
/* background-image: radial-gradient(
      circle at 47% 14%,
      rgba(205, 205, 205, 0.04) 0%,
      rgba(205, 205, 205, 0.04) 43%,
      transparent 43%,
      transparent 100%
    ),
    radial-gradient(
      circle at 35% 12%,
      rgba(215, 215, 215, 0.04) 0%,
      rgba(215, 215, 215, 0.04) 4%,
      transparent 4%,
      transparent 100%
    ),
    radial-gradient(
      circle at 1% 35%,
      rgba(24, 24, 24, 0.04) 0%,
      rgba(24, 24, 24, 0.04) 37%,
      transparent 37%,
      transparent 100%
    ),
    radial-gradient(
      circle at 21% 1%,
      rgba(0, 0, 0, 0.04) 0%,
      rgba(0, 0, 0, 0.04) 26%,
      transparent 26%,
      transparent 100%
    ),
    radial-gradient(
      circle at 23% 82%,
      rgba(249, 249, 249, 0.04) 0%,
      rgba(249, 249, 249, 0.04) 60%,
      transparent 60%,
      transparent 100%
    ),
    radial-gradient(
      circle at 11% 54%,
      rgba(251, 251, 251, 0.04) 0%,
      rgba(251, 251, 251, 0.04) 23%,
      transparent 23%,
      transparent 100%
    ),
    radial-gradient(
      circle at 69% 68%,
      rgba(234, 234, 234, 0.04) 0%,
      rgba(234, 234, 234, 0.04) 10%,
      transparent 10%,
      transparent 100%
    ),
    linear-gradient(90deg, #f2f2f2, #f2f2f2);
} */
/* .gray-alt { */
/* background-color: #2e2e2e;
  background-image: radial-gradient(
      circle at 46% 40%,
      rgba(228, 228, 228, 0.06) 0%,
      rgba(228, 228, 228, 0.06) 13%,
      transparent 13%,
      transparent 100%
    ),
    radial-gradient(
      circle at 11% 41%,
      rgba(198, 198, 198, 0.06) 0%,
      rgba(198, 198, 198, 0.06) 19%,
      transparent 19%,
      transparent 100%
    ),
    radial-gradient(
      circle at 52% 23%,
      rgba(14, 14, 14, 0.06) 0%,
      rgba(14, 14, 14, 0.06) 69%,
      transparent 69%,
      transparent 100%
    ),
    radial-gradient(
      circle at 13% 85%,
      rgba(148, 148, 148, 0.06) 0%,
      rgba(148, 148, 148, 0.06) 44%,
      transparent 44%,
      transparent 100%
    ),
    radial-gradient(
      circle at 57% 74%,
      rgba(232, 232, 232, 0.06) 0%,
      rgba(232, 232, 232, 0.06) 21%,
      transparent 21%,
      transparent 100%
    ),
    radial-gradient(
      circle at 59% 54%,
      rgba(39, 39, 39, 0.06) 0%,
      rgba(39, 39, 39, 0.06) 49%,
      transparent 49%,
      transparent 100%
    ),
    radial-gradient(
      circle at 98% 38%,
      rgba(157, 157, 157, 0.06) 0%,
      rgba(157, 157, 157, 0.06) 24%,
      transparent 24%,
      transparent 100%
    ),
    radial-gradient(
      circle at 8% 6%,
      rgba(60, 60, 60, 0.06) 0%,
      rgba(60, 60, 60, 0.06) 12%,
      transparent 12%,
      transparent 100%
    ),
    linear-gradient(90deg, #f1f1f1, #eeeeee);
}

.dark {
  background-color: #272727;
  background-image: radial-gradient(
      circle at 19% 90%,
      rgba(190, 190, 190, 0.04) 0%,
      rgba(190, 190, 190, 0.04) 17%,
      transparent 17%,
      transparent 100%
    ),
    radial-gradient(
      circle at 73% 2%,
      rgba(78, 78, 78, 0.04) 0%,
      rgba(78, 78, 78, 0.04) 94%,
      transparent 94%,
      transparent 100%
    ),
    radial-gradient(
      circle at 45% 2%,
      rgba(18, 18, 18, 0.04) 0%,
      rgba(18, 18, 18, 0.04) 55%,
      transparent 55%,
      transparent 100%
    ),
    radial-gradient(
      circle at 76% 60%,
      rgba(110, 110, 110, 0.04) 0%,
      rgba(110, 110, 110, 0.04) 34%,
      transparent 34%,
      transparent 100%
    ),
    radial-gradient(
      circle at 68% 56%,
      rgba(246, 246, 246, 0.04) 0%,
      rgba(246, 246, 246, 0.04) 16%,
      transparent 16%,
      transparent 100%
    ),
    radial-gradient(
      circle at 71% 42%,
      rgba(156, 156, 156, 0.04) 0%,
      rgba(156, 156, 156, 0.04) 47%,
      transparent 47%,
      transparent 100%
    ),
    radial-gradient(
      circle at 46% 82%,
      rgba(247, 247, 247, 0.04) 0%,
      rgba(247, 247, 247, 0.04) 39%,
      transparent 39%,
      transparent 100%
    ),
    radial-gradient(
      circle at 50% 47%,
      rgba(209, 209, 209, 0.04) 0%,
      rgba(209, 209, 209, 0.04) 45%,
      transparent 45%,
      transparent 100%
    ),
    linear-gradient(90deg, #272727, #1a1a1a);
}

.dark-alt { */
/* background-color: #1f1f1f;
  background-image: radial-gradient(
      circle at 47% 14%,
      rgba(205, 205, 205, 0.04) 0%,
      rgba(205, 205, 205, 0.04) 43%,
      transparent 43%,
      transparent 100%
    ),
    radial-gradient(
      circle at 35% 12%,
      rgba(215, 215, 215, 0.04) 0%,
      rgba(215, 215, 215, 0.04) 4%,
      transparent 4%,
      transparent 100%
    ),
    radial-gradient(
      circle at 1% 35%,
      rgba(24, 24, 24, 0.04) 0%,
      rgba(24, 24, 24, 0.04) 37%,
      transparent 37%,
      transparent 100%
    ),
    radial-gradient(
      circle at 21% 1%,
      rgba(0, 0, 0, 0.04) 0%,
      rgba(0, 0, 0, 0.04) 26%,
      transparent 26%,
      transparent 100%
    ),
    radial-gradient(
      circle at 23% 82%,
      rgba(249, 249, 249, 0.04) 0%,
      rgba(249, 249, 249, 0.04) 60%,
      transparent 60%,
      transparent 100%
    ),
    radial-gradient(
      circle at 11% 54%,
      rgba(251, 251, 251, 0.04) 0%,
      rgba(251, 251, 251, 0.04) 23%,
      transparent 23%,
      transparent 100%
    ),
    radial-gradient(
      circle at 69% 68%,
      rgba(234, 234, 234, 0.04) 0%,
      rgba(234, 234, 234, 0.04) 10%,
      transparent 10%,
      transparent 100%
    ),
    linear-gradient(90deg, #1f1f1f, #161616);
} */

/* html,
body {
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  font-family: "Signika Negative", sans-serif, Arial;
} */

/* .panel {
  @apply pt-64 shadow-xl;
  width: 100%; */
/* height: 100%; */
/* display: flex; */
/* justify-content: center; */
/* align-items: center; */
/* font-weight: 600;
  font-size: 1.5em; */
/* text-align: center; */
/* color: white;
  position: relative;
  box-sizing: border-box; */
/* } */

/* SCROLL DOWN */
/* .scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  overflow: visible;
}
.scroll-down .arrow {
  position: relative;
  top: -4px;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
  background-size: contain;
}

#container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.panel {
  position: absolute;
  will-change: transform;
} */

/* VERT AND SIDE SCROLL */
/* .side-scrolling-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0px;
  overflow: hidden;
  display: block;
}

.ss-container {
  width: 500%;
  height: 70vh;
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
  padding: 0px;
  overflow: hidden;
}

.panel {
  width: 100%;
  height: 100%;
  text-align: left;
  color: white;
  position: relative;
  overflow: hidden;
}
.panel img {
  max-width: 100%;
  height: auto;
  display: block;
}
.panel p {
  font-weight: 300;
}
.panel .step-number {
  font-size: 24px;
  line-height: 27px;
  color: blue;
  font-weight: 800;
}
.panel .step-description {
  font-size: 21px;
  line-height: 30px;
  color: black;
}

.spacer {
  position: relative;
  display: block;
  background: gray;
  height: 100vh;
} */

/* SECTION-WITH-ANIMATION */
/* body {
  overflow-x: hidden;
}
section,
footer {
	display: flex;
	height: 100vh;
	width:  100%;
}
.left-col, .middle-col, .right-col, .full-col{
	height: 100vh;
	margin: 0;
}
.width-0{
	width: 0;
}
.width-33{
	width: 33.33%;
}
.width-66{
	width: 66.66%;
}
.width-100{
	width: 100%;
}
#landing-page .full-col{
	background-color: grey;
}
#rooms .left-col{
	background-color: red;
}
#rooms .right-col{
	background-color: pink;
}
#you .middle-col{
	background-color: green;
}
#you .left-col,
#you .right-col{
	background-color: palegreen;
}
#near .right-col{
	background-color: blue;
}
#near .left-col{
	background-color: lightblue;
}
footer{
	background-color:  black;
	color:  white;
} */

/* DIFFERENT-CONTENT */
/* body,
html {
  margin: 0;
}



.scroller-inner {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}



.panel-text {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  height: 100%;

  transform: translateY(100%);
  opacity: 0;
} */

/* HEADER */

/* @media (min-width: 640px) {
  .scroller-inner {
    height: 100%;
    overflow: hidden;
  }

  .text-wrap {
    position: relative;
    overflow: hidden;
    width: 66.66666%;
    height: 100%;
  }

  .p-wrap {
    position: relative;
    overflow: hidden;
    width: 33.33333%;
    height: 40vh;
  }

  .panel {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    width: 100%;
    height: auto;
    background-image: url("/assets/img/Asset\ 6.svg");
    background-position: 50% 50%;
    background-size: 50%;
    background-repeat: no-repeat;
  }

  .panel:nth-of-type(2) {
    background-image: url("/assets/img/Asset\ 2.svg");
  }

  .panel:nth-of-type(3) {
    background-image: url("/assets/img/Asset\ 3.svg");
  }

  .panel:nth-of-type(4) {
    background-image: url("/assets/img/Asset\ 7.svg");
  }
} */

/* DIFFERENT ANIMATION */
/* Styles from the GreenSock website */
/* body {
  font-weight: 300;
}
.ipsType_right {
  text-align: right;
}
.ipsType_center {
  text-align: center;
}
.cInnerContent {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.ipsSpacer_bottom_double {
  margin-bottom: 30px;
}
.ipsGrid {
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.ipsGrid::before, .ipsGrid::after {
  display: table;
  content: "";
  line-height: 0;
}
.ipsGrid > [class*="ipsGrid_span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}
.ipsGrid > .ipsGrid_span5 {
  width: 40.42553191489362%;
}
.ipsGrid > .ipsGrid_span7 {
  width: 57.44680851063829%;
}
.ipsGrid > [class*="ipsGrid_span"] {
  float: left;
  margin-left: 2%;
}
.ipsGrid > [class*="ipsGrid_span"]:first-child {
  margin-left: 0;
}
.feature {
  display: flex;
  align-items: center;
}
.card {
  margin-bottom: 30px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 1px 1px 5px 1px #CCCCCC;
  transition: 0.3s;
}
.featured-image-container .card {
  padding: 10px;
  height: 0;
  padding-bottom: calc(100% - 10px);
}
h2.heading_large {
  font-size: 1.8em;
}
img {
  max-width: 100%;
}

.header-section {
  margin: 200px auto;
}

.gs_reveal {
  opacity: 0;
  visibility: hidden;
  transition: transform 0s;
} */

/* ANIMATED SECTIONS */
/* body { */
/* overflow-x: hidden;
}
section,
footer {
	display: flex;
	height: 100vh;
	width:  100%;
}
.left-col, .middle-col, .right-col, .full-col{
	height: 100vh;
	margin: 0;
}
.width-0{
	width: 0;
}
.width-33{
	width: 33.33%;
}
.width-66{
	width: 66.66%;
}
.width-100{
	width: 100%;
}
#landing-page .full-col{
	background-color: grey;
}
#rooms .left-col{
	background-color: red;
}
#rooms .right-col{
	background-color: pink;
}
#you .middle-col{
	background-color: green;
}
#you .left-col,
#you .right-col{
	background-color: palegreen;
}
#near .right-col{
	background-color: blue;
}
#near .left-col{
	background-color: lightblue;
}
footer{
	background-color:  black;
	color:  white;
} */

/* NAV EXAMPLE */

.main-tool-bar {
  height: 80px;
  @apply fixed top-0 left-0 w-full text-left text-gray-200 bg-gray-900;
  transition: ease 0.4s;
  height: 80px;
  z-index: 999;
}
.main-tool-bar--scrolled {
  height: 40px;
}

.scrollable-area {
  height: 100vh;
  width: 100%;
}

/* REPAINT LOGO */
* {
  padding: 0;
  margin: 0;
}

.logo-row {
  min-height: 110vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.logo {
  z-index: 9999;
  top: 20px;
  left: 20px;
  width: 1.5rem;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
}
/*.logo:hover {
  filter: drop-shadow(0px 4px 6px #191919);
  transform: translate(0, -2px);
  transition: all, .3s ease-out;
}*/
.startLogo {
  position: fixed;
}

.altLogo {
  position: absolute;
  top: 0px;
  transform: translate3d(0, 0, 0);
}
.startLogo:active {
  animation: repaint 1ms;
}
.whiteLogo {
  fill: #edf2f7;
  stroke: #edf2f7;
}

.blackLogo {
  color: #1a202c;
}
.purpleLogo {
  fill: #e9d8fd;
  stroke: #e9d8fd;
}
#scroll {
  position: fixed;
  bottom: 40px;
  right: 100px;
  text-align: center;
  font-family: arial;
}

@-webkit-keyframes repaint {
  from {
    width: 99.9%;
  }
  to {
    width: 100%;
  }
}

@-moz-keyframes repaint {
  from {
    width: 99.9%;
  }
  to {
    width: 100%;
  }
}

@keyframes repaint {
  from {
    width: 99.9%;
  }
  to {
    width: 100%;
  }
}

.repaint {
  animation: repaint 100ms;
}

/* CONTENT */
.h-container,.h-container-rev {
  width: 600%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.h-container-rev {
  flex-direction: row-reverse;
}

.panel.align-top {
  align-items: flex-start;
}



.panel {
	width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.5em;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}


/* HEADER */
header {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 6px 10px 10px 10px;
  border-bottom-right-radius: 26px;
  z-index: 100;
  background-color: rgba(0,0,0,0.5);
}

/* HEADINGS */
.header-section {
  padding: 0 15px;
  text-align: center;
  margin: 40vh auto 50vh;
}

/* SCROLL DOWN */
.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  overflow: visible;
}
.scroll-down .arrow {
  position: relative;
  top: -4px;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
  background-size: contain;
}
